/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --fuenteParrafos: "Open Sans", sans-serif;
    --fuenteHeading: "PT Sans", sans-serif;

    --primario: #784d3c;
    --blanco: #fff;
    --negro: #000;
    --gris: #e1e1e1;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    
}
*, *:before, *:after{
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
    padding: 0;
}

.container{
    width: min(90%, 120rem);    
    margin: 0 auto; /* utilizado para centrar */
}

a{
    text-decoration: none;    
}

h1, h2, h3, h4{
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
    text-align: center;
}
h4{
    font-size: 2.8rem;
    
}
img{
    max-width: 100%;
}

/* utilidades */
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}