@media (min-width:768px) {
    .perfil{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
        align-items: center;
        padding: 2rem;
       
    }
}

.perfil_imagen{
   display: flex;
   height: 50rem;
   justify-content: center;
   align-items: center;    
}
.perfil_imagen img {
  width: 40rem;
  border-radius: 50%;
}
.perfil_texto{
    margin: 0;
    padding: 0;
    text-align: center;
}
.logos{
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin-top: 4rem;
}
.logos_image{
    width: 6rem;
    justify-content: center;
}