.header{
    background-color: var(--negro);
     mask-image:  linear-gradient(
        black 95%,
        transparent
    );
}
@media (min-width:768px) {
    .header{
    background-image: url("../../assets/logos/josechapid.jpg");
    mask-image:  linear-gradient(
        black 95%,
        transparent
    );
    height: 45rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
}

/* .header{
    background-image: url("../../assets/logos/josechapid.jpg");
    mask-image:  linear-gradient(
        black 95%,
        transparent
    );
    height: 45rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
} */
.barra{
    padding-top: 4rem;
    padding: 4rem 4rem;
}

@media (min-width:768px) {
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo{
    color:var(--blanco);
    text-align: center;
}
.logo_nombre{
    font-weight: normal;
}
.bold{
    font-weight: bold;
}
@media (min-width:768px) {
    .navegacion {
        display: flex;
        gap: 4rem;
    }    
}
.navbar_enlace{
    color: var(--blanco);
    display: block;
    text-align: center;
    font-size: 1.8rem;
}

.navegacion a:hover{
    background-color: white;
    color: black;
    border-radius: 1rem;
    padding: 0.7rem;
}
